/* Linux & macOS specific styles, delete lines 1 and 2 to use with Windows */ 
@media (-moz-gtk-csd-available), (-moz-mac-big-sur-theme: 0), (-moz-mac-big-sur-theme: 1) {
/* Windows specific styles, delete lines 3 and 4 to use with Linux */ 
@media (-moz-os-version: windows-win10) { 
    /* Hide main tabs toolbar */
    :root[tabsintitlebar]{
          --uc-window-control-width: 138px; /* Space at the right of nav-bar for window controls */
          /* --uc-window-drag-space-width: 24px; */  /* To add extra window drag space in nav-bar */
      }

    #nav-bar{
          border-inline: var(--uc-window-drag-space-width,0px) solid var(--toolbar-bgcolor) ;
          border-inline-style: solid !important;
          border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-width,0px));

          padding-top: 0px !important;
      }

    :root {
          --uc-toolbar-height: 32px;
          --chrome-content-separator-color: none !important;
      }

    :root:not([uidensity="compact"]) {
          --uc-toolbar-height: 38px;
      }

    #TabsToolbar {
          visibility: collapse !important;
      }

    :root:not([inFullscreen]) #nav-bar {
          margin-top: calc(0px - var(--uc-toolbar-height));
      }

    #toolbar-menubar {
          min-height: unset !important;
          height: var(--uc-toolbar-height) !important;
          position: relative;
      }

    #main-menubar {
          -moz-box-flex: 1;
          background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor);
          background-clip: padding-box;
          border-right: 30px solid transparent;
          border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
      }

    #toolbar-menubar:not([inactive]) {
          z-index: 2;
      }

    #toolbar-menubar[inactive] > #menubar-items {
          opacity: 0;
          pointer-events: none;
          margin-left: var(--uc-window-drag-space-width,0px);
      }


    :root[inFullscreen] #nav-bar {
          border-inline: none !important;
      }
}

/* General styles */
#browser {
    position: relative;
}
#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
    visibility: collapse;
    display: none;
}

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    display: block;
    position: absolute;
    min-width: 48px;
    max-width: 48px;
    overflow: hidden;
    transition: all 0.2s ease;
    border-right: 1px solid var(--sidebar-border-color);
    z-index: 1;
    top: 0;
    bottom: 0;
}

[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover {
    min-width: 20vw !important;
    max-width: 20vw !important;
}

@media (width >= 1200px) {
    [sidebarcommand*="tabcenter"] #sidebar,
    #sidebar-box[sidebarcommand*="tabcenter"]:hover {
        min-width: 10vw !important;
        max-width: 10vw !important;
    }
}


[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
    max-height: 100%;
    height: 100%;
}


#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
    margin-left: 48px;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
    margin-left: 0;
}

#main-window[inFullscreen] #sidebar {
    height: 100vh;
}

[sidebarcommand*="tabcenter"] #sidebar-header {
    background: #0C0C0D;
    border-bottom: none !important;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    border-right-color: #0C0C0D !important;
    border-left-color: #0C0C0D !important;
}

[sidebarcommand*="tabcenter"] #sidebar-switcher-target,
[sidebarcommand*="tabcenter"] #sidebar-close {
    filter: invert(100%);
}

@media (max-width: 630px) {
    #urlbar-container {
        min-width: 100% !important;
    }
    #menubar-items {
        display: none !important;
    }
}

/* Add back menu icons, read more: https://www.reddit.com/r/FirefoxCSS/comments/osles3/menu_icons/ */ 
.subviewbutton:not(.subviewbutton-iconic, .subviewbutton-back, [checked="true"], [targetURI]) > .toolbarbutton-icon {
    width: 16px;
    height: 16px;
    margin-inline-end: 8px !important;
  }
  .subviewbutton {
    -moz-context-properties: fill;
    fill: currentColor;
  }
  #appMenu-zoom-controls2 > .toolbarbutton-text {
    margin-inline-start: 24px !important;
  }
  #appMenu-new-tab-button2 {
    list-style-image: url("chrome://browser/skin/new-tab.svg");
  }
  #appMenu-new-window-button2,
  #appMenuRecentlyClosedWindows {
    list-style-image: url("chrome://browser/skin/window.svg");
  }
  #appMenu-new-private-window-button2 {
    list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
  }
  #appMenu-bookmarks-button,
  #panelMenuBookmarkThisPage[starred],
  #appMenu-library-bookmarks-button,
  #sidebar-switcher-bookmarks {
    list-style-image: url("chrome://browser/skin/bookmark.svg");
  }
  #appMenu-history-button,
  #appMenu-library-history-button,
  #sidebar-switcher-history {
    list-style-image: url("chrome://browser/skin/history.svg");
  }
  #appMenu-downloads-button,
  #appMenu-library-downloads-button {
    list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
  }
  #appMenu-passwords-button {
    list-style-image: url("chrome://browser/skin/login.svg");
  }
  #appMenu-extensions-themes-button {
    list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
  }
  #appMenu-print-button2 {
    list-style-image: url("chrome://global/skin/icons/print.svg");
  }
  #appMenu-save-file-button2 {
    list-style-image: url("chrome://browser/skin/save.svg");
  }
  #appMenu-find-button2,
  #panelMenu_searchBookmarks,
  #allTabsMenu-searchTabs {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
  }
  #appMenu-settings-button,
  #PanelUI-fxa-menu-sync-prefs-button {
    list-style-image: url("chrome://global/skin/icons/settings.svg");
  }
  #appMenu-help-button2 {
    list-style-image: url("chrome://global/skin/icons/help.svg");
  }
  #appMenu-quit-button2 {
    list-style-image: url("chrome://browser/skin/quit.svg");
  }
  #panelMenuBookmarkThisPage {
    list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");
  }
  :is(toolbarbutton, menuitem)[id$="_viewBookmarksToolbar"] {
    list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg") !important;
  }
  #appMenuRecentlyClosedTabs,
  #sidebar-switcher-tabs {
    list-style-image: url("chrome://browser/skin/tab.svg");
  }
  #appMenuRestoreSession {
    list-style-image: url("chrome://browser/skin/restore-session.svg");
  }
  #appMenuClearRecentHistory {
    list-style-image: url("chrome://browser/skin/forget.svg");
  }
  #appmenu-moreTools-button,
  #overflowMenu-customize-button {
    list-style-image: url("chrome://browser/skin/customize.svg");
  }
  #appmenu-developer-tools-view > [oncommand="switchToTabHavingURI('about:performance', true)"] {
    list-style-image: url("chrome://global/skin/icons/performance.svg");
  }
  #appmenu-developer-tools-view > [key="key_responsiveDesignMode"] + .subviewbutton {
    list-style-image: url("chrome://devtools/skin/images/command-eyedropper.svg");
  }
  #appmenu-developer-tools-view > [key="key_viewSource"] + .subviewbutton {
    list-style-image: url("chrome://activity-stream/content/data/content/assets/glyph-webextension-16.svg");
  }
  #appMenu_aboutName {
    list-style-image: url("chrome://global/skin/icons/info.svg");
  }
  #sidebar-reverse-position[label="Move Sidebar to Right"] {
    list-style-image: url("chrome://browser/skin/sidebars-right.svg");
  }
  #sidebar-reverse-position[label="Move Sidebar to Left"],
  #BMB_viewBookmarksSidebar {
    list-style-image: url("chrome://browser/skin/sidebars.svg") !important;
  }
  #sidebarMenu-popup [data-l10n-id="sidebar-menu-close"] {
    list-style-image: url("chrome://global/skin/icons/close.svg");
  }
  #fxa-menu-avatar {
    display: unset;
    -moz-box-ordinal-group: 2;
  }
  #fxa-manage-account-button vbox {
    margin-inline-start: 24px;
  }
  .syncNowBtn {
    visibility: visible !important;
    -moz-box-ordinal-group: 0 !important;
    margin-inline-end: 8px;
  }
  #PanelUI-fxa-menu-setup-sync-button {
    list-style-image: url("chrome://browser/skin/sync.svg");
  }
  #PanelUI-fxa-menu-sendtab-button {
    list-style-image: url("chrome://browser/skin/send-to-device.svg");
  }
  #PanelUI-fxa-menu-account-signout-button {
    list-style-image: url("chrome://browser/skin/sign-out.svg");
  }
  #appMenu-fxa-label2::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-inline-end: 8px;
    border-radius: 50%;
    background: var(--avatar-image-url) no-repeat center/16px;
  }
  
  menupopup > :is(menu:not(.menu-iconic), menuitem:not(.menuitem-iconic, [checked="true"])) {
    padding-inline-start: calc(1em + 24px) !important;
    background-position: left 1em center;
    background-repeat: no-repeat;
    background-size: 16px;
    -moz-context-properties: fill;
    fill: currentColor;
  }
  #menu_newNavigatorTab,
  menuitem[id$="openANewTab"] {
    background-image: url("chrome://browser/skin/new-tab.svg");
  }
  #menu_newNavigator,
  #historyUndoWindowMenu {
    background-image: url("chrome://browser/skin/window.svg");
  }
  menuitem[data-l10n-id$="-private-window"] {
    background-image: url("chrome://browser/skin/privateBrowsing.svg");
  }
  #menu_openFile {
    background-image: url("chrome://browser/skin/open.svg");
  }
  #menu_savePage,
  #context-savepage {
    background-image: url("chrome://browser/skin/save.svg");
  }
  menuitem[data-l10n-id*="-email"] {
    background-image: url("chrome://browser/skin/mail.svg");
  }
  menuitem[data-l10n-id*="-print"] {
    background-image: url("chrome://global/skin/icons/print.svg");
  }
  #menu_importFromAnotherBrowser,
  #browserImport {
    background-image: url("chrome://browser/skin/import.svg");
  }
  #menu_FileQuitItem {
    background-image: url("chrome://browser/skin/quit.svg");
  }
  menuitem[data-l10n-id="text-action-undo"],
  menuitem[data-l10n-id$="-reopen-closed-tabs"] {
    background-image: url("chrome://global/skin/icons/undo.svg");
  }
  menuitem[data-l10n-id="text-action-cut"] {
    background-image: url("chrome://browser/skin/edit-cut.svg");
  }
  menuitem[data-l10n-id="text-action-copy"],
  #syncedTabsCopySelected {
    background-image: url("chrome://browser/skin/edit-copy.svg");
  }
  menuitem[data-l10n-id="text-action-paste"] {
    background-image: url("chrome://browser/skin/edit-paste.svg");
  }
  menuitem[data-l10n-id="text-action-delete"],
  menuitem[id^="placesContext_delete"],
  menuitem[data-l10n-id="toolbar-context-menu-remove-from-toolbar"],
  .downloadRemoveFromHistoryMenuItem {
    background-image: url("chrome://global/skin/icons/delete.svg");
  }
  #menu_find,
  #context-searchselect {
    background-image: url("chrome://global/skin/icons/search-glass.svg");
  }
  #context-searchselect[label^="Search Google"] {
    background-image: url("chrome://activity-stream/content/data/content/tippytop/favicons/google-com.ico");
  }
  #context-searchselect[label^="Search DuckDuckGo"] {
    background-image: url("chrome://activity-stream/content/data/content/tippytop/favicons/duckduckgo-com.ico");
  }
  #viewSidebarMenuMenu {
    background-image: url("chrome://browser/skin/sidebars.svg");
  }
  #menu_zoomEnlarge {
    background-image: url("chrome://browser/skin/zoom-in.svg");
  }
  #menu_zoomReduce {
    background-image: url("chrome://browser/skin/zoom-out.svg");
  }
  #charsetMenu {
    background-image: url("chrome://browser/skin/characterEncoding.svg");
  }
  #fullScreenItem {
    background-image: url("chrome://browser/skin/fullscreen.svg");
  }
  #sanitizeItem,
  #placesContext_deleteHost {
    background-image: url("chrome://browser/skin/forget.svg");
  }
  #historyRestoreLastSession {
    background-image: url("chrome://browser/skin/restore-session.svg");
  }
  #historyUndoMenu {
    background-image: url("chrome://browser/skin/tab.svg");
  }
  menuitem[data-l10n-id*="bookmark-"]:not(.menuitem-iconic),
  #placesContext_createBookmark {
    background-image: url("chrome://browser/skin/bookmark-hollow.svg");
  }
  menuitem[data-l10n-id="menu-bookmark-edit"] {
    background-image: url("chrome://browser/skin/bookmark.svg") !important;
  }
  #menu_openDownloads {
    background-image: url("chrome://browser/skin/downloads/downloads.svg");
  }
  #menu_openAddons {
    background-image: url("chrome://mozapps/skin/extensions/extension.svg");
  }
  menuitem[data-l10n-id$="-sync-now"] {
    background-image: url("chrome://browser/skin/sync.svg");
  }
  #webDeveloperMenu {
    background-image: url("chrome://browser/skin/developer.svg");
  }
  #menu_taskManager {
    background-image: url("chrome://global/skin/icons/performance.svg");
  }
  #menu_eyedropper {
    background-image: url("chrome://devtools/skin/images/command-eyedropper.svg");
  }
  #extensionsForDevelopers {
    background-image: url("chrome://activity-stream/content/data/content/assets/glyph-webextension-16.svg");
  }
  #menu_pageInfo,
  #aboutName {
    background-image: url("chrome://global/skin/icons/info.svg");
  }
  #menu_preferences,
  #openSettingsMenuItem {
    background-image: url("chrome://global/skin/icons/settings.svg");
  }
  #context-sendpagetodevice,
  #context-sendlinktodevice,
  #context_sendTabToDevice {
    background-image: url("chrome://browser/skin/send-to-device.svg");
  }
  :is(#context-sendpagetodevice-popup, #context-sendlinktodevice-popup, #context_sendTabToDevicePopupMenu) > [clientType="desktop"] {
    background-image: url("chrome://browser/skin/device-desktop.svg");
  }
  :is(#context-sendpagetodevice-popup, #context-sendlinktodevice-popup, #context_sendTabToDevicePopupMenu) > [clientType="phone"] {
    background-image: url("chrome://browser/skin/device-phone.svg");
  }
  :is(#context-sendpagetodevice-popup, #context-sendlinktodevice-popup, #context_sendTabToDevicePopupMenu) > [clientType="tablet"] {
    background-image: url("chrome://browser/skin/device-tablet.svg");
  }
  :is(#context-sendpagetodevice-popup, #context-sendlinktodevice-popup, #context_sendTabToDevicePopupMenu) > [clientType="tv"] {
    background-image: url("chrome://browser/skin/device-tv.svg");
  }
  :is(#context-sendpagetodevice-popup, #context-sendlinktodevice-popup, #context_sendTabToDevicePopupMenu) > [clientType="vr"] {
    background-image: url("chrome://browser/skin/device-vr.svg");
  }
  menuitem[data-l10n-id*="reload-"] {
    background-image: url("chrome://browser/skin/reload.svg");
  }
  menuitem[id^="context_toggleMute"]:not([soundplaying], [muted]),
  menuitem[id^="context_toggleMute"][soundplaying]:not([muted]),
  #context-media-mute {
    background-image: url("chrome://global/skin/media/audio-muted.svg");
  }
  menuitem[id^="context_toggleMute"][muted],
  #context-media-unmute {
    background-image: url("chrome://global/skin/media/audio.svg");
  }
  menuitem[data-l10n-id^="pin-"],
  .customize-context-moveToPanel {
    background-image: url("chrome://activity-stream/content/data/content/assets/glyph-pin-16.svg");
  }
  menuitem[data-l10n-id^="unpin-"],
  .customize-context-moveToToolbar {
    background-image: url("chrome://activity-stream/content/data/content/assets/glyph-unpin-16.svg");
  }
  #context_closeTab,
  #orgClose {
    background-image: url("chrome://global/skin/icons/close.svg");
  }
  #context-pocket,
  #context-savelinktopocket {
    background-image: url("chrome://browser/skin/pocket-outline.svg");
  }
  #context-take-screenshot {
    background-image: url("chrome://browser/skin/screenshot.svg");
  }
  #context-inspect-a11y {
    background-image: url("chrome://devtools/skin/images/tool-accessibility.svg");
  }
  #context-inspect {
    background-image: url("chrome://devtools/skin/images/command-pick.svg");
  }
  #paste-and-go {
    background-image: url("chrome://browser/skin/forward.svg");
  }
  #toggle_PersonalToolbar {
    background-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
  }
  menuitem[data-l10n-id*="-customize-toolbar"] {
    background-image: url("chrome://browser/skin/customize.svg");
  }
  menuitem[data-l10n-id="full-screen-exit"] {
    background-image: url("chrome://browser/skin/fullscreen-exit.svg");
  }
  menuitem[data-l10n-id^="places-edit-"] {
    background-image: url("chrome://global/skin/icons/edit.svg");
  }
  #context-media-play {
    background-image: url("chrome://global/skin/media/play-fill.svg");
  }
  #context-media-pause,
  #doNotDisturbMenuItem {
    background-image: url("chrome://global/skin/media/pause-fill.svg");
  }
  #context-video-fullscreen {
    background-image: url("chrome://global/skin/media/fullscreenEnterButton.svg");
  }
  #context-leave-dom-fullscreen {
    background-image: url("chrome://global/skin/media/fullscreenExitButton.svg");
  }
  #context-video-saveimage {
    background-image: url("chrome://devtools/skin/images/command-screenshot.svg");
  }
  #disableForOriginMenuItem {
    background-image: url("chrome://browser/skin/notification-icons/desktop-notification-blocked.svg");
  }
  .downloadShowMenuItem {
    background-image: url("chrome://global/skin/icons/folder.svg");
  }
  #BMB_bookmarksPopup .subviewbutton > .menu-iconic-left {
    margin-inline-end: 8px !important;
  }
  #BMB_bookmarksShowAll {
    padding-inline-start: calc(1em + 20px) !important;
  }
  #BMB_bookmarksPopup .openintabs-menuitem .menu-text {
    margin-inline-start: -4px !important;
  }
  .PanelUI-remotetabs-notabsforclient-label {
    margin-inline-start: 40px !important;
  }
  menuitem[id^="context_duplicateTab"] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="context-fill" fill-opacity="context-fill-opacity"><path d="M15 13a1 1 0 000-2h-1V5a2 2 0 00-2-2H8.402a2 2 0 00-2 2v6h-1a1 1 0 000 2"/><path d="M5.281 10V5c0-.771.301-1.468.78-2H4a2 2 0 00-2 2v6H1a1 1 0 000 2h2.559a1.978 1.978 0 01-.278-1c0-1.103.897-2 2-2z"/></svg>');
  }
  #context_moveTabOptions {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="context-fill" fill-opacity="context-fill-opacity"><path d="M15.854 12.14s-.001 0 0 0l-3.001-3.001a.496.496 0 00-.707.013.5.5 0 000 .695l2.147 2.148H7.5a.5.5 0 000 1h6.793l-2.147 2.146a.5.5 0 10.695.719l.012-.012 3-3a.5.5 0 00.001-.708z"/><path d="M7.5 10.994h4.38l-.453-.453a1.495 1.495 0 010-2.084 1.503 1.503 0 012.133-.025l.44.44V5a2 2 0 00-2-2H4a2 2 0 00-2 2v6H1a1 1 0 000 2h5.094A1.49 1.49 0 016 12.494c0-.827.673-1.5 1.5-1.5z"/></svg>');
  }
  #context_shareTabURL {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="context-fill" d="M12.707 4.294l-4-4A1 1 0 008.38.077a.984.984 0 00-.246-.05A.938.938 0 008 0a.938.938 0 00-.134.027.984.984 0 00-.246.05A1 1 0 007.291.3l-4 4a1 1 0 001.416 1.408L7 3.415V11a1 1 0 002 0V3.415l2.293 2.293a1 1 0 001.414-1.414z"/><path fill="context-fill" d="M14 9a1 1 0 00-1 1v3a1 1 0 01-1 1H4a1 1 0 01-1-1v-3a1 1 0 00-2 0v3a3 3 0 003 3h8a3 3 0 003-3v-3a1 1 0 00-1-1z"/></svg>');
  }
  #context_closeTabOptions {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="context-fill" fill-opacity="context-fill-opacity" d="M14.3 10l-1.8 1.8-1.8-1.8c-.2-.2-.5-.2-.7 0s-.2.5 0 .7l1.8 1.8-1.8 1.8c-.2.2-.2.5 0 .7s.5.2.7 0l1.8-1.8 1.8 1.8c.2.2.5.2.7 0s.2-.5 0-.7l-1.8-1.8 1.8-1.8c.2-.2.2-.5 0-.7s-.5-.2-.7 0z"/><path fill="context-fill" fill-opacity="context-fill-opacity" d="M16 12c0-.2-.1-.5-.2-.6l-1.1 1.1.5.5c.4-.1.8-.5.8-1zm-5.6.5L9 11.1c-.4-.4-.4-1 0-1.4l.7-.7c.4-.4 1-.4 1.4 0l1.4 1.4L13.9 9s.1 0 .1-.1V5c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v6H1c-.6 0-1 .4-1 1s.4 1 1 1h8.9l.5-.5z"/></svg>');
  }
  #menu_newUserContext {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g fill="context-fill" fill-opacity="context-fill-opacity"><rect width="6" height="6" x="1" y="1" rx="1"/><path d="M15 3v2H9V3z"/><path d="M11 1h2v6h-2z"/><rect width="6" height="6" x="1" y="9" rx="1"/><rect width="6" height="6" x="9" y="9" rx="1"/></g></svg>');
  }
  #allTabsMenu-containerTabsButton {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g fill="context-fill" fill-opacity="context-fill-opacity"><rect width="6" height="6" x="1" y="1" rx="1"/><path d="M15 3v2H9V3z"/><path d="M11 1h2v6h-2z"/><rect width="6" height="6" x="1" y="9" rx="1"/><rect width="6" height="6" x="9" y="9" rx="1"/></g></svg>');
  }
  #context_reopenInContainer,
  #context-openlinkinusercontext-menu {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g fill="context-fill" fill-opacity="context-fill-opacity"><rect width="6" height="6" x="1" y="1" rx="1"/><rect width="6" height="6" x="1" y="9" rx="1"/><rect width="6" height="6" x="9" y="9" rx="1"/><path d="M14.92 1.62a1 1 0 00-.54-.54A1 1 0 0014 1h-4a1 1 0 000 2h1.59l-2.3 2.29a1 1 0 000 1.42 1 1 0 001.42 0L13 4.41V6a1 1 0 002 0V2a1 1 0 00-.08-.38z"/></g></svg>');
  }
